/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
 
 
  
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 60%;
 
}

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

 
  





/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  body {
    font-size: 2.5em;
<<<<<<< HEAD
    margin: 0, 10%;
  }

  .top {
  
    display: flex;
    flex-direction: column-reverse;
    
    padding: 5%;
    justify-content: center;
    
   
  }
  .top > section {
    
    display: inline-block;
    text-align: center;
    
=======
    margin: 0, 5px;
>>>>>>> 38ec9bbd9ad07790f43e2995028cd6dcac9d8ccd
  }
}