/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 50%;
}

.top {
  
  display: flex;
  justify-content: center;
  padding: 5%;
  
 
}

.top > section {
  align-items: center;
  
  
}

.instructions {
  background-color: rgb(00, 180, 216);
  color: white;
  display: flex;
  justify-content: center;
  

}
h1 {
  font-weight: 100;
}
h3 {
  max-width: 40ch;
  line-height: 1.4em;
}

h2 {
  font-size: 4em;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  body {
  
    margin: 0, 10%;
  }

  .top {
  
    display: flex;
    flex-direction: column-reverse;
    
    padding: 5%;
    justify-content: center;
    
   
  }
  .top > section {
    
    
    display: inline-block;
    text-align: center;
    
  }
}